<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">PFG</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "home" %} class="active"{% endif %}>
          <a href="/">Home</a>
        </li>
        <li{% if page.slug == "about" %} class="active"{% endif %}>
          <a href="/about.html">About</a>
        </li>
        <li{% if page.slug == "genre" %} class="active"{% endif %}>
          <a href="/genre.html">Genre Generator</a>
        </li>
      </ul>
    </nav>
  </div>
</header>